@use '../../styles/variables' as *;

.stats {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: $space-5_1;

  @media (max-width: 899px) and (min-width: 600px) {
    gap: $space-4;
  }

  @media (max-width: 599px) {
    gap: $space-4;
  }

  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    position: relative;

    &:not(:last-child)::after {
      content: '';
      position: absolute;
      right: -18px;
      top: 50%;
      transform: translateY(-50%);
      width: 1px;
      height: $space-9;
      background-color: var(--theme-color-border);

      @media (max-width: 899px) {
        right: calc($space-4 / -2);
        height: $space-6;
      }
    }
  }

  .value {
    font-size: $font-size-5xl;
    color: var(--color-text);
    font-weight: 900;
    line-height: 1;

    &.highlight {
      color: $color-primary;
    }

    @media (max-width: 899px) and (min-width: 600px) {
      font-size: $font-size-3xl;
    }

    @media (max-width: 599px) {
      font-size: $font-size-2xl;
    }
  }

  .label {
    font-size: $font-size-lg;
    color: var(--color-text-muted);
    display: block;
    text-align: center;
    white-space: nowrap;

    @media (max-width: 899px) and (min-width: 600px) {
      font-size: $font-size-sm;
    }

    @media (max-width: 599px) {
      font-size: $font-size-xs;
    }
  }
}
